.container {
  height: 240px;
  display: flex;
  flex-direction: column;
}

.preview {
  flex-grow: 1;
  position: relative;
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(242, 244, 247, 0) 0%,
    var(--background-light) 100%
  );
}

.footer {
  flex-shrink: 0;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: absolute;
  inset: 0;
}
