.base {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 28px;
  border-radius: 6px;

  border: none;

  cursor: pointer;
  text-decoration: none;
}

.big {
  height: 60px;

  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.small {
  height: 44px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.primary {
  background-color: var(--primary-dark);
  color: white;

  &:hover {
    opacity: 90%;
  }

  &:disabled {
    background-color: var(--background-gray);
    color: var(--text-light);
    cursor: not-allowed;
  }
}

.outline {
  background-color: white;
  color: var(--text-medium);
  border: 1px solid var(--background-gray);

  &:disabled {
    background-color: white;
    color: var(--text-light);
    border: 1px solid var(--background-gray);
    cursor: not-allowed;
  }
}

.icon {
  background-color: white;
  color: var(--text-medium);
  border: 1px solid var(--background-gray);
  width: 40px;
  height: 40px;
  padding: 10px;
}

.ghost {
  padding: 0px;
  background-color: transparent;
  color: var(--text-dark-gray);
  height: 24px;

  &:disabled {
    color: var(--text-light);
    cursor: not-allowed;
  }
}
