.base {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 28px;
  border-radius: 6px;

  font-size: 18px;
  line-height: 28px;
  font-weight: 600;

  border: none;

  cursor: pointer;
}

.primary {
  background-color: var(--primary-dark);
  color: white;

  &:hover {
    opacity: 90%;
  }

  &:disabled {
    background-color: var(--background-gray);
    color: var(--text-light);
    cursor: not-allowed;
  }
}

.outline {
  background-color: white;
  color: var(--text-medium);
  border: 1px solid var(--background-gray);

  &:disabled {
    background-color: white;
    color: var(--text-light);
    border: 1px solid var(--background-gray);
    cursor: not-allowed;
  }
}
