@import url("reset.css");

:root {
  /* Primary Colors */
  --primary-dark: #087443;
  --primary-base: #73e2a3;
  --primary-light: #d3f8df;
  --primary-soft: #edfcf2;

  /* Background Colors */
  --background-white: #ffffff;
  --background-light: #f2f4f7;
  --background-gray: #d0d5dd;
  --background-soft: #eaecf0;

  /* Text Colors */
  --text-dark: #101828;
  --text-medium: #344054;
  --text-light: #98a2b3;
  --text-gray: #667085;
  --text-dark-gray: #475467;

  /* Error Colors */
  --error-light: #fee4e2;
  --error-base: #fda29b;
  --error-dark: #f04438;
}

body {
  background-color: var(--background-white);
  color: var(--text-dark);
  font-family: "FixelText", sans-serif;
}

@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Regular.woff2") format("woff2");
  font-weight: 100 400;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
