.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphereWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;

  color: var(--background-white);
  backdrop-filter: blur(80px);

  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
}
