.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  border-bottom: 1px solid var(--background-soft);
  padding-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formRow {
  display: flex;
  gap: 16px;
}

.formInput {
  flex: 1;
}

.letterPreview {
  border-radius: 12px;
  padding: 24px;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  height: 600px;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
