.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.stepper {
  display: flex;
  align-items: center;
  gap: 16px;
}
